section form {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    overflow-y: auto;
}

#search-form {
    width: 100%;
    position: absolute;
    background-color: beige;
}

#search {
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    padding-left: 10px;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    outline: none;
}

#search-btn {
    height: 44px;
    font-size: 1.1em;
    padding: 10px;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    background-color:rgb(192, 255, 234);
    cursor: pointer;
}

#book-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
    padding-bottom: 150px;
}

.book-card {
    display: flex;
    height: 90%;
    width: 22%;
    background-color: azure;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
}

.book-card:hover {
    background-color: rgb(223, 253, 253);
}

.book-card img {
    width: 80%;
    height: 25%;
    object-fit: contain;
    object-position: center;
}

.book-card h1 {
    display: flex;
    height: 13%;
    max-width: 80%;
    justify-content: center;
}

.book-card p {
    width: 90%;
    height: 42%;
    margin-top: 5px;
    margin-bottom: 16px;
    overflow: hidden;
}

.book-card button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(127, 255, 212, 0.525);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.book-card button * {
    padding: 0;
    margin: 0;
    display: flex;
    width: fit-content;
    margin: 5px;
}

.book-card button:hover {
    background-color: rgb(127, 255, 212);
}

.book-card h2 {
    font-size: 1.1em;
}

.option-list {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-evenly;
    margin-top: 70px;
}

.select-list {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.select-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30px;
    background-color: rgba(127, 255, 212, 0.525);
    border-radius: 10px;
    border: 1px solid black;
}

.select-card select {
    all: unset;
}

.sort-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}