section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h1 {
    font-size: 5em;
    padding: 10px;
}

section p {
    font-size: 2em;
}